/*:::Importar fuentes de Google Fonts:::*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import 'node_modules/modern-normalize/modern-normalize.css';
/*:::Final importar fuentes de Google Fonts:::*/

/*:::Definición de variables para la paleta de colores y fuentes:::*/
:root {
  /* Fuentes */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;

  /* Colores */
  --active-color: #2196f3;
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --background-color: #ffffff;
  --background-section: #e5e5e5;
  --background-team-section: rgba(245, 244, 250, 1);
  --border-color: #ececec;
  --color-background: #f0f0f0;
  --color-background-footer: var(--dark-background-color);
  --color-backgrounf-btn: #f5f4fa;
  --color-focus: var(--active-color);
  --color-focus-text: #ffffff;
  --color-recomendations-category: var(--paragraf-text-color);
  --color-text: var(--main-text-color);
  --container-color: #eeeeee;
  --dark-background-color: rgba(47, 48, 58, 0.8);
  --footer-background-color: rgba(47, 48, 58, 1);
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --logo-text-color: #00000025%;
  --main-font: var(--font-primary);
  --main-text-color: #212121;
  --modal-button-stroke: rgba(0, 0, 0, 0.1);
  --paragraf-text-color: #757575;
  --secondary-text-color: #ffffff;

  /* Duraciones */
  --duration-time: 250ms;
  /* parametro cubic */
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/*:::final Definición de variables para la paleta de colores y fuentes:::*/

/* ::: Normalización de estilo ::: */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: var(--main-font);
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ::: Fin Normalización de estilo::: */

/* :::  Definición de tamaños y estilos de base  ::: */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.with-border {
  border-bottom: 1px solid var(--border-color);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* :::  Fin Definición de tamaños y estilos de base  :::  */

/* :::  Pagina  ::::::  Inicio Index  ::: */

/* :::  Estilos del Header  ::: */

.contact-item {
  align-items: center;
  color: var(--paragraf-text-color);
  display: flex;
  font-weight: 500;
}

.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-set:focus,
.contact-set:hover {
  color: var(--active-color);
}

.current-page {
  color: var(--active-color);
  display: block;
  padding-bottom: 28px;
}

.header-content {
  align-items: center;
  display: flex;
  height: 80px;
}

.logo-set {
  color: var(--logo-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  transition-duration: var(--duration-time);
  transition-property: transform;
  transition-timing-function: var(--cubic);
}

.logo-set:focus,
.logo-set:hover {
  transform: scale(1.1);
}

.nav-list {
  align-content: space-between;
  display: flex;
  font-weight: 500;
  gap: 46px;
}

.nav-list-item {
  color: var(--main-text-color);
}

.nav-section {
  margin-left: 93px;
  margin-top: auto;
}

.nav-web {
  color: var(--active-color);
}

.transition-item {
  color: var(--main-text-color);
  transition-duration: var(--duration-time);
  transition-property: color, transform;
  transition-timing-function: var(--cubic);
}

.transition-item:focus,
.transition-item:hover {
  color: var(--active-color);
  transform: scale(1.1);
}

.transition-item a:focus,
.transition-item a:hover {
  color: var(--active-color);
  transform: scale(1.1);
}

.underline::after {
  background-color: var(--active-color);
  border-radius: 2px;
  content: "";
  display: block;
  height: 4px;
}

.current-page {
  color: var(--active-color);
  display: block;
  padding-bottom: 28px;
}

/* Estilos para cuando se hace hover o se enfoca la lista de contactos */
.contact-item:hover,
.contact-item:focus  {
  color: var(--active-color);
}

.contact-item:hover,
.contact-item:focus  {
  fill: var(--active-color);
}

/* :::  Fin Estilos del Header  ::: */

/* :::  Estilos del hero  ::: */
.hero {
  background-color: var(--dark-background-color);
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}

.hero-button {
  background-color: var(--active-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  margin-top: 40px;
  padding: 10px 4px;
  transition-duration: var(--duration-time);
  transition-property: transform;
  transition-timing-function: var(--cubic);
}

button:focus,
button:hover {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  transform: scale(1.05);
}

.hero-image {
  background-image: linear-gradient(90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%),
    url(../images/imghero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.L1,
.L2 {
  color: var(--secondary-text-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.L2 {
  margin-top: -5px;
}

/* Inicio Estilos para el modal */
.backdrop {
  background-color: var(--backdrop-background-color);
  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition-duration: var(--duration-time);
  transition-property: opacity, transform, visibility;
  transition-timing-function: var(--cubic);
  visibility: visible;
  width: 100%;
  z-index: 100;
}

.close-btn {
  border: 1px solid var(--modal-button-stroke);
  border-radius: 50%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  display: block;
  height: 581px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
}

/* Fin Estilos para el modal */
/* ::: Fin Estilos del hero  ::: */

/* ::: Inicio Estilos de Caracteristicas  ::: */
/* Agrega un pseudo-elemento para el overlay */
.icons-icon-section::before {
  background-color: var(--background-team-section);
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Evita que el overlay se extienda a los elementos internos */
.icons-icon-section {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 270px;
}

.icons-item {
  flex-basis: calc((100% - 90px) / 4);
}

.icons-icon {
  height: 70px;
  width: 70px;
}

.icons-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.icons-section {
  background-color: var(--background-team-section);
  border-radius: 4px;
  padding: 25px 100px;
}

.icons-text {
  color: var(--paragraf-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  text-align: left;
}

.icons-title {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

/* ::: Fin Estilos de Caracteristicas  ::: */

/* ::: Inicio Estilos de servicios  ::: */
.services-image {
  display: block;
}

.services-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.services-list>li {
  bottom: 0;
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}

.services-overlay-section {
  background-color: var(--dark-background-color);
  bottom: 0;
  height: 70px;
  position: absolute;
  width: 370px;
}

.services-overlay-section>p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.services-title {
  color: var(--main-text-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
}

/* ::: Fin  Estilos de servicios  ::: */


/* :::  Estilos de equipo  ::: */
.icon-class {
  display: block;
  fill: var(--icon-color);
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.social-icons>li,
.social-icons-footer>li {
  border-radius: 50%;
  padding: 12px 12px;
}

.social-icons li:hover,
.social-icons li:focus {
  background-color: var(--active-color);
  cursor: pointer;
  --icon-color: var(--secondary-text-color);
}

.team-class {
  background-color: var(--background-team-section);
}

.team-info {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.team-list-item {
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
}

.team-member {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-text {
  color: var(--paragraf-text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
}

/* ::: Fin Estilos de equipo  ::: */

/* :::  Estilos de nuestros clientes  ::: */
.clients {
  text-align: center;
}

.clients-icon-class {
  fill: var(--icon-color);
  margin: 16px 32px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list-item {
  border: solid 1px;
  border-color: var(--icon-color);
  border-radius: 4px;
  height: 92px;
  width: 170px;
}

.clients-list-item:focus,
.clients-list-item:hover {
  border-color: var(--active-color);
  --icon-color: var(--active-color);
}

.clients-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 50px;
}

/* :::  Fin Estilos de nuestros clientes  ::: */

/* :::  Estilos del Main  ::: */
.button-port {
  background-color: var(--background-team-section);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.62;
  padding: 6px 24px;
  transition: background-color, color, transform var(--duration-time);
  var(--cubic);
}

.button-port:focus,
.button-port:hover {
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.card-image {
  display: block;
}

.card-image-layer {
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.card-list-item {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow, cursor, transform var(--duration-time);
  var(--cubic);
}

.card-list-item:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transform: scale(1.01);
}

.filters-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.img-section {
  border: solid 1px;
  border-color: var(--border-color);
  border-top: 0;
  padding: 20px 24px;
}

.img-text {
  color: var(--paragraf-text-color);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
}

.img-title {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

/* :::  Fin Estilos del Main  ::: */
/* :::  Pagina  ::::::  Fin Index  ::: */

/* :::  Pagina  ::::::  Inicio portafolio  ::: */
/* :::  Inicio de Tarjetas  ::: */
.card-list-item:nth-child(2) .img-text {
  margin-top: -35px;
}

.filters-item:first-child .button-port {
  background-color: var(--active-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--active-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform var(--duration-time);
  var(--cubic);
}

.card-image-layer:hover .overlay {
  transform: translateX(0);
}

.overlay>p {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
  padding: 49px 45px 49px 24px;
}

.portfolio-view {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-view .card-image .card-list-item {
  Height: 404px;
  Width: 370px;
}

.portfolio-view .img-section {
  Width: 370px;
}

/* :::  Fin de Tarjetas  ::: */

/* :::  Pagina  ::::::  Fin portafolio  ::: */


/* :::  Footer  ::: */
.address-list {
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.46;
}

.address-set {
  margin-top: 20px;
}

.contact-gap:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  color: var(--footer-text-color);
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.46;
}

.footer-flex {
  display: flex;
}

.footer-join {
  margin-left: 70px;
  margin-top: 30px;
}

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--active-color);
}

.footer-set {
  display: block;
}

.join-header-footer {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.list-icons-footer:hover,
.list-icons-footer:focus {
  background-color: var(--active-color);
  --icon-color: var(--secondary-text-color);
  cursor: pointer;
}

.social-icons-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.social-icons-footer li {
  background-color: var(--footer-icon-color);
  border-radius: 50%;
}

.studio-footer {
  color: var(--secondary-text-color);
}

.web-footer {
  color: var(--active-color);
}

footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}

footer a:hover,
footer a:focus {
  color: var(--active-color);
}

/* ::: Fin Footer  ::: */